include LICENSE
include README.rst
recursive-include djangocms_picture/templates *
recursive-include djangocms_picture/static *
recursive-include djangocms_picture/contrib/frontify/templates *
recursive-include djangocms_picture/contrib/frontify/static *
recursive-include djangocms_picture/contrib/unsplash/templates *
recursive-include djangocms_picture/contrib/unsplash/static *
recursive-include djangocms_picture/contrib/filer/locale *
recursive-include djangocms_picture/contrib/finder/locale *
recursive-include djangocms_picture/contrib/frontify/locale *
recursive-include djangocms_picture/contrib/unsplash/locale *
recursive-include djangocms_picture/locale *
recursive-exclude * *.py[co]
recursive-include tests *.py
recursive-include tests *.txt
recursive-include docs *.rst
recursive-include examples *.py
