 {% load thumbnail %}

{% if instance.get_link %}
    <a href="{{ instance.get_link }}"
    {% if instance.link_target %} target="{{ instance.link_target }}"{% endif %}
    {{ instance.link_attributes_str }}>
{% endif %}

{# start render figure/figcaption #}
{% if instance.caption_text %}
    <figure>
{% endif %}
{# end render figure/figcaption #}

{% thumbnail instance.picture instance.get_size.size crop=instance.get_size.crop upscale=instance.get_size.upscale as thumbnail %}

<img src="{% spaceless %}
    {% if instance.external_picture %}
        {{ instance.external_picture }}
    {% else %}
        {% if instance.use_no_cropping %}
            {{ instance.picture.url }}
        {% else %}
            {{ thumbnail.url }}
        {% endif %}
    {% endif %}{% endspaceless %}"
    {% if instance.picture.alt %} alt="{{ instance.picture.alt }}"{% endif %}
    {% if instance.width %} width="{{ instance.width }}"{% endif %}
    {% if instance.height %} width="{{ instance.height }}"{% endif %}
    {{ instance.attributes_str }}
>

{# start render figure/figcaption #}
{% if instance.caption_text %}
        <figcaption>{{ instance.caption_text }}</figcaption>
    </figure>
{% endif %}
{# end render figure/figcaption #}

{% if instance.get_link %}
    </a>
{% endif %}

{# // https://github.com/aldryn/aldryn-bootstrap3/blob/master/aldryn_bootstrap3/models.py#L315#}
<pre>
    thumb: {{ thumbnail }}
    size : {{ instance.get_size }}
</pre>

{% comment %}
    # https://developer.mozilla.org/en-US/docs/Web/HTML/Element/image
    # https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure
    # https://github.com/divio/django-filer/blob/master/filer/models/filemodels.py
    # http://easy-thumbnails.readthedocs.io/en/2.1/usage/#templates
    {{ instance.picture }}
    # Available variables:
    {{ instance.width }}
    {{ instance.height }}
    {{ instance.alignment }}
    {{ instance.caption_text }}
    {{ instance.attributes_str }}
    # picture helper
    {{ instance.get_size }}
    # link settings
    {{ instance.link_url }}
    {{ instance.link_page }}
    {{ instance.link_target }}
    {{ instance.link_attributes_str }}
    # link helper
    {{ instance.get_link }}
    # cropping settings
    {{ instance.use_automatic_scaling }}
    {{ instance.use_no_cropping }}
    {{ instance.use_crop }}
    {{ instance.use_upscale }}
    {{ instance.use_thumbnail }}
{% endcomment %}
