<span class="djangocms-picture
    {% if picture.float %} align-{{ picture.float }}{% endif %}">
    {% if link %}
        <a href="{{ link }}">
    {% endif %}
        <img src="{{ picture.image.url }}" alt="{{ picture.alt }}"
            {% if picture.longdesc %} title="{{ picture.longdesc }}"{% endif %}
            {% if picture.width %} width="{{ picture.width }}px"{% endif %}
            {% if picture.height %} height="{{ picture.height }}px"{% endif %}
        >
    {% if link %}
        </a>
    {% endif %}
</span>

<img src="" srcset="
    image-320.jpg 320w,
    image-640.jpg 640w,
    image-1024.jpg 1024w,
    image.jpg,
    image-2x.jpg 2x
"
    sizes="
    (max_width: 480px) 100vw,
    (max_width: 900px) 33vw,
    254px // fallback, image will be 254px wide

"

# https://cloudfour.com/thinks/responsive-images-part-10-conclusion/
vw = viewport width
100vw = 100%
33vw = 33%
" If the viewport is 480 pixels wide or smaller,
the image will be 100% of the viewport width."
